/* Тут пиши основные стили */
.container {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height: 33px;
    font-size: 21px;
    width: 700px;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
}

.title{
    margin-top: 55px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.code{
    font-family: "Courier New", monospace;
    background-color: #eeffff;
}

h1 {
    font-size:42px;
    line-height:44px;
}

h2 {
    font-size:34px;
    line-height:39px;
}

.image{
    margin-top: 43px;
    margin-bottom: 37px;
}

.header {
  background-color: white;
  border-bottom: 1px solid #707070;
}

.header-top {
  padding: 10px 38px;
}

.header-bottom {
  border-top: 1px solid #707070;
  padding: 21px 38px;
}

.nav ul {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  font-family: LucidaGrande;
  font-size: 24px;
  color: #333333;
  text-align: left;
  line-height: 36px;

  text-decoration: none;
}

.nav a.active {
  color: red;
}

.nav a:hover,
.nav a.hovered {
  text-decoration: underline;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}