/* Тут пиши основные стили */
.container {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height: 33px;
    font-size: 21px;
    width: 700px;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
}

.title{
    margin-top: 55px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.code{
    font-family: "Courier New", monospace;
    background-color: #eeffff;
}

h1 {
    font-size:42px;
    line-height:44px;
}

h2 {
    font-size:34px;
    line-height:39px;
}

.image{
    margin-top: 43px;
    margin-bottom: 37px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}